@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  font-family: "source sans pro";
  padding: 0;
  margin: 0;

  --color-enf-dark-1: #222b77;
  --color-enf-dark-2: #606dd2;
  --color-enf-light-1: #f1f2fd;
  --color-enf-light-2: #c0c5ed;

  /* outline: 1px solid red; */
}

.main-container {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  margin-top: 50px;
  background-color: var(--color-enf-light-1);
}
.nav-container {
  position: absolute;
  height: calc(100% - 50px);
  width: 250px;
  margin-top: 50px;
  left: 0;
  background-color: var(--color-enf-light-1);
  box-shadow: 5px 0 20px 0 rgba(0, 0, 0, 0.1);
}
.bar-top {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: var(--color-enf-light-2);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  display: inline-flex;
}

.bar-top > * {
  /* display: inline-block; */
  /* height: 100%; */
}

.nombre-app span {
  display: inline-block;
  font-weight: 700;
  font-size: 32px;
}

.user-avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #222b77;
}

/*Dashboard*/
.grid-container {
  display: grid; /* applies grid layout affecting it's children */
  grid-template-columns: 240px 1fr; /* define the number and sizes of columns */
  grid-template-rows: 50px 1fr 50px; /* defines the number ans sizes of rows*/
  grid-template-areas:
    'aside header'
    'aside main'
    'aside footer'; /* assigns the labeled grid-area to the grid layout, note there has to be two columns and three rows as per the grid template rows/ columns defined */
  height: 100vh;
}

.header {
  grid-area: header; /* assigns the grid-area label*/
  background-color: whitesmoke;
}

.aside {
  grid-area: aside;
  background-color: darkblue;
}

.main {
  grid-area: main;
  background-color: white;
}
.footer {
  grid-area: footer;
  background-color: whitesmoke;
}
.header,
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: darkblue;
    padding: 0 15px;
  }
  .aside {
    display: flex;
    flex-direction: column;
  }

  .aside_list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
  }

  .aside_list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
  }

  .aside_list-item:hover {
    background-color: royalblue;
    cursor: pointer;
  }
